<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>

  <meta charset="utf-8">
  <title><%= pageTitle %> - <%= siteName %></title>

  <meta name="viewport" content="width=device-width">

  <meta property="og:title" content="<%= pageTitle %> - <%= siteName %>" />
  <meta property="og:description" content="<%= pageDescription %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= siteRootUrl %><%= pageUrl %>" />
  <meta property="og:image" content="<%= ogImageUrl %>" />
  <meta property="og:site_name" content="<%= siteName %>" />

  <meta property="fb:app_id" content="<%= fbAppId %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= twitterSite %>">

  <link rel="stylesheet" href="css/style.css" />
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="canonical" href="<%= siteRootUrl %>" />


</head>
<body class="page-<%= pageId %>">
