<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>

  <meta charset="utf-8">
  <title><%= pageTitle %><% if (pageId != 'index') { %> - <%= siteName %><% } %></title>

  <meta name="viewport" content="width=device-width">

  <meta property="og:title" content="<%= pageTitle %><% if (pageId != 'index') { %> - <%= siteName %><% } %>" />
  <meta property="og:description" content="<%= pageDescription %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= siteRootUrl %><%= pageUrl %>" />
  <meta property="og:image" content="<%= ogImageUrl %>" />
  <meta property="og:site_name" content="<%= siteName %>" />

  <meta property="fb:app_id" content="<%= fbAppId %>" />
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="<%= twitterSite %>">

  <link rel="stylesheet" href="
  <% if (pageId === 'index') { %>
    css/style.css
  <% } else { %>
    ../css/style-docs.css
  <% } %>
  " />
  <link rel="shortcut icon" href="images/favicon.ico" />
  <link rel="canonical" href="<%= siteRootUrl %><%= pageUrl %>" />

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '<%= googleAnalyticsId %>', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
  </script>
  <!-- END Google Analytics -->

  <script type="text/javascript" src="//fast.fonts.net/jsapi/8c8a2c11-d7a3-41f8-b8b6-8cb92680206b.js"></script>

  <rdf:RDF
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dc="http://purl.org/dc/elements/1.1/"
  xmlns:foaf="http://xmlns.com/foaf/0.1/">
  <rdf:Description rdf:about="http://sanographix.github.io">
  <foaf:maker rdf:parseType="Resource">
  <foaf:holdsAccount>
  <foaf:OnlineAccount foaf:accountName="sngrpx">
  <foaf:accountServiceHomepage rdf:resource="http://www.hatena.ne.jp/" />
  </foaf:OnlineAccount>
  </foaf:holdsAccount>
  </foaf:maker>
  </rdf:Description>
  </rdf:RDF>

</head>
<body class="page-<%= pageId %>">

  <div class="l-globalHeader">
    <div class="l-container">
      <div class="globalHeader-container">
        <div class="globalHeader-logo">
          <a href="<%= siteRootUrl %>">Tokusetsu 3</a>
        </div>
        <nav class="globalHeader-nav">
          <ul>
            <li>
              <a href="<%= siteRootUrl %>/docs">Docs</a>
            </li>
            <li>
              <a href="//github.com/sanographix/tokusetsu3">GitHub</a>
            </li>
            <li>
              <a href="https://twitter.com/share?text=Tokusetsu%203%20%2d%20%e5%90%8c%e4%ba%baCD%e3%83%bb%e5%90%8c%e4%ba%ba%e8%aa%8c%e5%91%8a%e7%9f%a5%e3%82%b5%e3%82%a4%e3%83%88%e3%81%8c%e4%b8%80%e7%9e%ac%e3%81%a7%e4%bd%9c%e3%82%8c%e3%82%8b%e3%83%86%e3%83%b3%e3%83%97%e3%83%ac%e3%83%bc%e3%83%88&url=<%= siteRootUrl %>" class="tw" target="_blank" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
                <svg class="social-share-icon" xmlns="http://www.w3.org/2000/svg" viewBox="-623 385 32 32"><path fill="#FFF" d="M-591 391.1c-1.2.5-2.4.9-3.8 1 1.4-.8 2.4-2.1 2.9-3.6-1.3.8-2.7 1.3-4.2 1.6-1.2-1.3-2.9-2.1-4.8-2.1-3.6 0-6.6 2.9-6.6 6.6 0 .5.1 1 .2 1.5-5.5-.3-10.3-2.9-13.5-6.9-.6 1-.9 2.1-.9 3.3 0 2.3 1.2 4.3 2.9 5.5-1.1 0-2.1-.3-3-.8v.1c0 3.2 2.3 5.8 5.3 6.4-.6.1-1.1.2-1.7.2-.4 0-.8 0-1.2-.1.8 2.6 3.3 4.5 6.1 4.6-2.2 1.8-5.1 2.8-8.2 2.8-.5 0-1.1 0-1.6-.1 2.9 1.9 6.4 2.9 10.1 2.9 12.1 0 18.7-10 18.7-18.7v-.8c1.3-1 2.4-2.1 3.3-3.4z"/></svg>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
